.tituloProd{
    margin: 50px 20px 0px 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}



.cardsList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    margin: 25px;
    padding: 10px;
}
.cardImg{
    width:100px;
    align-self: center;
    margin: 5px;
}
.cardName{
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}


.btn-outline-primary{
    width: 150px;
    align-self: center;
    margin: 0px;
}
