.tituloProd{
    margin: 50px 20px 0px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-align: left;
}

.cardsList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    margin: 25px;
    padding: 10px;
}

.card img{
    width:100px;
    align-self: center;
    margin: 5px;
    
}

.btn-outline-primary{
    width: 150px;
    align-self: center;
    margin: 0px;
}
