.logo{
    height:90px;
    margin: 5px 25px;
}
.nav{
    height: fit-content;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;

}

.btn-light{
    margin: 20px;
}

.btn-carrito{
    margin: 0px 50px;
}

.carrito{
    height: 30px;
}